@use "_reset.scss";
@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

* {
  font-family: "Fira Mono";
}

a {
  color: var(--blue);
  text-decoration: none;
}

p {
  color: var(--fg);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
}

:root {
  --bg: #fbf1c7;
  --red: #cc241d;
  --red-alt: #9d0006;
  --green: #98971a;
  --green-alt: #79740e;
  --yellow: #d79921;
  --yellow-alt: #b57614;
  --blue: #458588;
  --blue-alt: #076678;
  --purple: #b16286;
  --purple-alt: #8f3f71;
  --aqua: #689d6a;
  --aqua-alt: #427b58;
  --gray: #7c6f64;
  --gray-alt: #928374;
  --gray-2: #928374;
  --orange: #d65d0e;
  --orange-alt: #af3a03;
  --fg: #3c3836;
  --fg0: #282828;
  --fg1: #3c3836;
  --fg2: #504945;
  --fg3: #665c54;
  --fg4: #7c6f64;
  --bg0_h: #f9f5d7;
  --bg0_s: #f2e5bc;
  --bg0: #fbf1c7;
  --bg1: #ebdbb2;
  --bg2: #d5c4a1;
  --bg3: #bdae93;
  --bg4: #a89984;
}
.dark {
  --bg: #282828;
  --red: #cc241d;
  --red-alt: #fb4934;
  --green: #98971a;
  --green-alt: #b8bb26;
  --yellow: #d79921;
  --yellow-alt: #fadb2f;
  --blue: #458588;
  --blue-alt: #83a598;
  --purple: #b16286;
  --purple-alt: #d3869b;
  --aqua: #689d6a;
  --aqua-alt: #8ec07c;
  --gray: #a89984;
  --gray-alt: #928374;
  --gray-2: #928374;
  --orange: #d65d0e;
  --orange-alt: #fe8019;
  --fg: #ebdbb2;
  --fg0: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #dbae93;
  --fg4: #a89984;
  --bg0_h: #1d2021;
  --bg0_s: #32302f;
  --bg0: #282828;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;
}

body {
  background-color: var(--bg);
}

.centered {
  @apply flex flex-col gap-4 justify-center items-center min-h-[calc(100vh-80px)] h-full max-w-[662px] mx-auto px-[20px] py-10;

  p {
    @apply text-center;
  }
}

.vim-categories {
  color: var(--aqua);
  width: 100%;

  li,
  ul {
    margin: 0;
    color: var(--fg);
    &::before {
      content: "| ";
      color: var(--orange);
      font-weight: bold;
    }

    span {
      color: var(--aqua);
    }

    li {
      &::before {
        content: "| | ";
      }

      li {
        &::before {
          content: "| | | ";
        }

        li {
          &::before {
            content: "| | | | ";
          }
        }
      }
    }
  }

  a {
    color: var(--orange);
  }
}

.tagLink {
  color: var(--orange);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg3);
  height: 40px;
}

.vim-navbar {
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  a {
    position: relative;
    display: inline-flex;
    height: 40px;
    padding: 0 10px 0 30px;
    font-weight: 500;
    line-height: 40px;
    color: var(--bg);
    text-decoration: none;
  }
  a::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    right: -40px;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    z-index: 1;
  }

  ul > li {
    order: 0;
    background-color: var(--bg2);
    a {
      color: var(--gray);
    }
    :after {
      border-left: 20px solid var(--bg2);
    }
  }

  ul > li:nth-child(odd) {
    background-color: var(--bg4);
    a {
      color: var(--bg0_s);
    }
    :after {
      border-left: 20px solid var(--bg4);
    }
  }

  ul > li.vim-active-item {
    order: 1;
    background-color: var(--orange-alt);
    a {
      color: var(--bg);
    }
    :after {
      border-left: 20px solid var(--orange-alt);
    }
  }

  ul > li.vim-active-item ~ li {
    background-color: var(--bg4);
    a {
      color: var(--bg0_s);
    }
    :after {
      border-left: 20px solid var(--bg4);
    }
  }

  ul > li.vim-active-item ~ li:nth-child(odd) {
    background-color: var(--bg2);
    a {
      color: var(--gray);
    }
    :after {
      border-left: 20px solid var(--bg2);
    }
  }
  ul > li:first-child {
    background-color: var(--orange-alt);
    a {
      padding-left: 10px;
    }
    :after {
      border-left: 20px solid var(--orange-alt);
    }
  }
}

.color-mode {
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  button {
    position: relative;
    display: inline-flex;
    height: 40px;
    padding: 0 10px;
    font-family: Fira Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    background-color: var(--gray);
    color: var(--bg);
    text-decoration: none;
    border: none;
    outline: none;
  }
  button::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: -40px;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid var(--gray);
    z-index: 1;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg3);
  height: 40px;

  .copyright {
    color: var(--blue-alt) !important;
  }
}
